body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f7f7f7;
}

/* NAVBAR */
.navbar {
    background-color: #073B5E;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* HERO */
.hero {
    background-color: #CBE3FF;
    padding: 80px 0;
}

.hero-content {
    width: 90%;
    max-width: 1300px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-image {
    width: 100%;
    max-width: 450px;
}

/* SECTION */
.section {
    padding: 80px 20px;
    text-align: center;
}

.section-title {
    font-size: 32px;
    margin-bottom: 50px;
    color: #073B5E;
}

/* VISI MISI */
.visi-misi-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #00000015;
    text-align: left;
}

/* MICROservices */
.service-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.service-card {
    background: white;
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #00000020;
}

/* SYARAT */
.syarat-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.syarat-item {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #00000020;
}

/* CONTACT */
.contact-box {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #00000020;
}

/* FOOTER */
footer {
    background: #073B5E;
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }
}
